<div class="jumbotron">
  <h1>tallytext</h1>
  <p class="lead">
    Dynamically contextualize your text.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/demo">Try Demo!</span></a></p>
  <p><a class="btn btn-primary" href="https://github.com/willynilly/tallytext">Download from Github</span></a></p>
</div>

<div class="row marketing">

  <h4>Live Textual Statistics</h4>
  <p>
    View word frequencies, character counts, and unique word counts as you type.
  </p>
  
  <h4>Context Buttons</h4>
  <p>
    Click a contextual buttons to append text. 
  </p>
  
  <h4>Extendable Lexer Service</h4>
  <p>
    Add your own extendable views for tallying words with the Lexer Dude service. 
  </p>

</div>
